# Script which should contains initial environment variables
#
# It will be mounted at runtime, loaded, so that the initial_project, gets them to initialize credentials.
#

# If you have activated 'seed-job' from groovies.lst
# So you should be able to configure following variables
export SEED_JOBS_REPO=https://github.com/clarsonneur/jenkins-job-dsl.git
#
# See https://github.com/forj-oss/jenkins-groovy-inits/tree/master/seed-job for details

# If you have activated 'mesos' in groovies.lst and pluginsr.lst
# you should be able to set variables here
#
# ex:
# export MESOS_MASTER="zk://pilot.myorg.com:2181,pool.gre.hp.com:2181,pole.gre.hp.com:2181/mesos"
#
# See https://github.com/forj-oss/jenkins-groovy-inits/tree/master/mesos
#

# For other groovy init scripts, see https://github.com/forj-oss/jenkins-groovy-inits
